In [1]:
import numpy as np
import pandas as pd
import tensorflow as tf
import keras
from tensorflow.keras.models import Sequential,load_model
from tensorflow.keras.layers import Dense, Flatten, Conv2D, Dropout, BatchNormalization, GlobalAveragePooling2D
from tensorflow.keras.utils import to_categorical
from tensorflow.keras.preprocessing.image import ImageDataGenerator
from tensorflow.keras.callbacks import ModelCheckpoint
import matplotlib.pyplot as plt
import cv2
import tensorflow
from google.colab.patches import cv2_imshow
from PIL import Image
from tensorflow.keras import models
from tensorflow.keras import layers
from tensorflow.keras import optimizers

In [2]:
from tensorflow.keras import models
from tensorflow.keras import layers
from tensorflow.keras import optimizers
import os
import glob
import shutil
import sys
import numpy as np
# from utils import *
# from skimage.io import imread
import matplotlib.pyplot as plt
from IPython.display import Image
from tensorflow.keras.preprocessing.image import ImageDataGenerator
import cv2
!pip install utils
from utils import *

Collecting utils
  Downloading utils-1.0.1-py2.py3-none-any.whl (21 kB)
Installing collected packages: utils
Successfully installed utils-1.0.1

In [ ]:
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle/
# change the permission of the file
!chmod 600 ~/.kaggle/kaggle.json

In [ ]:
!kaggle datasets download -d sachinpatel21/az-handwritten-alphabets-in-csv-format

az-handwritten-alphabets-in-csv-format.zip: Skipping, found more recently modified local copy (use --force to force download)

In [ ]:
from zipfile import ZipFile
file_name = 'az-handwritten-alphabets-in-csv-format.zip' #the file is your dataset exact name
with ZipFile(file_name, 'r') as zip:
  zip.extractall()
  print('Done')

Done

In [ ]:
df = pd.read_csv('A_Z Handwritten Data.csv')

In [ ]:
df

,0,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9,...,0.639,0.640,0.641,0.642,0.643,0.644,0.645,0.646,0.647,0.648
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
372445,25,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
372446,25,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
372447,25,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
372448,25,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
372449,25,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
x_part = df.iloc[:,1:]
x_part
y_part = df.iloc[:,:1]
y_part = np.array(y_part)
x_part = np.array(x_part)

In [ ]:
y_part.shape

(372450, 1)

In [ ]:
df['0'].value_counts()

14    57825
18    48419
20    29008
2     23409
19    22495
15    19341
13    19010
0     13869
12    12336
11    11586
17    11566
4     11440
24    10859
22    10784
3     10134
1      8668
9      8493
7      7218
23     6272
25     6076
16     5812
6      5762
10     5603
21     4182
5      1163
8      1120
Name: 0, dtype: int64

In [ ]:
x = []
y = []
x1=[]
i=0
ff1=0
k=0
tmparr=[2,3,5,9,14,15,16,17,19,20,21,24]
dt = {0:0,
      1:1, 
      4:2, 
      6:3, 
      7:4, 
      8:5, 
      10:6, 
      11:7, 
      12:8, 
      13:9, 
      18:10, 
      22:11, 
      23:12, 
      25:13,
      }
while (i<len(y_part)):
  for kk in range(len(tmparr)):
    if ff1==tmparr[kk]:
      ff1=ff1+1
      continue
  if ff1==y_part[i] and k<600:
   x1.append(x_part[i])
   v=y_part[i][0]
   y.append(dt[v])
   k=k+1
  elif k!=0:
    k=0
    ff1=ff1+1
  i = i+1

In [ ]:
img1 = x1[20]
img1.shape

(784,)

In [ ]:
for i in range(len(x1)):
  img =x1[i]
  x.append(img)

In [ ]:
df_t = pd.read_csv('emoji.csv')
df_x  =df_t.iloc[:,2:]
df_y = df_t.iloc[:,1:2]+14
df_x = np.array(df_x)
df_y = np.array(df_y)

In [ ]:
df_t

,Unnamed: 0,0,1,2,3,4,5,6,7,8,...,775,776,777,778,779,780,781,782,783,784
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
349,349,6,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
350,350,6,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
351,351,6,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
352,352,6,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
353,353,6,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
for i in range(len(df_y)):
  x.append(df_x[i])
  y.append(df_y[i])

In [ ]:
x = np.array(x).astype(float)
y = np.array(y).astype(float)
x = x.reshape(x.shape[0] , 28 , 28 , 1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  """

In [3]:
def get_segmented(img) : 
  kernel = np.ones((5,5))
  img3=cv2.cvtColor(img,cv2.COLOR_BGR2GRAY)
  img3 = cv2.adaptiveThreshold(img3, 255, cv2.ADAPTIVE_THRESH_GAUSSIAN_C,
	                                     cv2.THRESH_BINARY_INV, blockSize = 321, C = 80)
  img3 = cv2.GaussianBlur(img3, (3, 3), 0)
  img3 = cv2.dilate(img3,kernel,iterations = 3)
  img3 = cv2.erode(img3,kernel,iterations = 1)
  gray_image = cv2.morphologyEx(img3, cv2.MORPH_CLOSE, kernel)
  lst=[]
  for j in range(gray_image.shape[1]):
    sum = 0
    for i in range(gray_image.shape[0]):
      sum = sum+gray_image[i][j]
    lst.append(sum)
  x_cor = []
  f = 0
 
  for i in range(len(lst)):
    if lst[i] != 0 and f==0:
      x1=i
      f=1
    elif lst[i] == 0 and f==1:
      x2=i
      if(abs(x1-x2)>30):
        x_cor.append((min(x1,x2),max(x1,x2)))
      f=0 
  y_cor=[]
  for x1,x2 in x_cor:
    lst2=[]
    for i in range(gray_image.shape[0]):
      sum=0
      for j in range(min(x1,x2),max(x1,x2)+1):
        sum = sum+gray_image[i][j]
      lst2.append(sum)
    f=0
    for i in range(len(lst2)):
      if lst2[i] != 0 and f==0:
        y1=i
        f=1
      if lst2[i] == 0 and f==1:
        y2=i
        if(abs(y2-y1)>30):
          y_cor.append((min(y1,y2),max(y1,y2)))
        f=0 
  return img3, x_cor, y_cor

In [ ]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.20, random_state=42)

In [ ]:
model=Sequential()
model.add(Conv2D(32, kernel_size = 3, activation='relu', input_shape = (28, 28, 1)))
model.add(BatchNormalization())
model.add(Conv2D(32, kernel_size = 3, activation='relu'))
model.add(BatchNormalization())
model.add(Conv2D(32, kernel_size = 5, strides=2, padding='same', activation='relu'))
model.add(BatchNormalization())
model.add(Dropout(0.4))
model.add(Conv2D(64, kernel_size = 3, activation='relu'))
model.add(BatchNormalization())
model.add(Conv2D(64, kernel_size = 3, activation='relu'))
model.add(BatchNormalization())
model.add(Conv2D(64, kernel_size = 5, strides=2, padding='same', activation='relu'))
model.add(BatchNormalization())
model.add(Dropout(0.4))
model.add(Conv2D(128, kernel_size = 4, activation='relu'))
model.add(BatchNormalization())
model.add(Flatten()) 
model.add(Dense(256, activation='relu'))
model.add(Dropout(0.4))
model.add(Dense(40, activation='softmax'))

model.compile(optimizer='adam',loss='sparse_categorical_crossentropy',metrics=['accuracy'])
model.summary()

Model: "sequential_24"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 conv2d_168 (Conv2D)         (None, 26, 26, 32)        320

 batch_normalization_168 (Ba  (None, 26, 26, 32)       128
 tchNormalization)

 conv2d_169 (Conv2D)         (None, 24, 24, 32)        9248

 batch_normalization_169 (Ba  (None, 24, 24, 32)       128
 tchNormalization)

 conv2d_170 (Conv2D)         (None, 12, 12, 32)        25632

 batch_normalization_170 (Ba  (None, 12, 12, 32)       128
 tchNormalization)

 dropout_72 (Dropout)        (None, 12, 12, 32)        0

 conv2d_171 (Conv2D)         (None, 10, 10, 64)        18496

 batch_normalization_171 (Ba  (None, 10, 10, 64)       256
 tchNormalization)

 conv2d_172 (Conv2D)         (None, 8, 8, 64)          36928

 batch_normalization_172 (Ba  (None, 8, 8, 64)         256
 tchNormalization)

 conv2d_173 (Conv2D)         (None, 4, 4, 64)          102464

 batch_normalization_173 (Ba  (None, 4, 4, 64)         256
 tchNormalization)

 dropout_73 (Dropout)        (None, 4, 4, 64)          0

 conv2d_174 (Conv2D)         (None, 1, 1, 128)         131200

 batch_normalization_174 (Ba  (None, 1, 1, 128)        512
 tchNormalization)

 flatten_24 (Flatten)        (None, 128)               0

 dense_48 (Dense)            (None, 256)               33024

 dropout_74 (Dropout)        (None, 256)               0

 dense_49 (Dense)            (None, 40)                10280

=================================================================
Total params: 369,256
Trainable params: 368,424
Non-trainable params: 832
_________________________________________________________________

In [ ]:
np.max(x)

255.0

In [ ]:
np.unique(y_train)

array([ 0.,  1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9., 10., 11., 12.,
       13., 14., 15., 16., 17., 18., 19., 20.])

In [ ]:

history = model.fit(x_train , y_train, epochs=20)

Epoch 1/20
219/219 [==============================] - 32s 142ms/step - loss: 1.0317 - accuracy: 0.7053
Epoch 2/20
219/219 [==============================] - 31s 140ms/step - loss: 0.2707 - accuracy: 0.9195
Epoch 3/20
219/219 [==============================] - 31s 143ms/step - loss: 0.1770 - accuracy: 0.9462
Epoch 4/20
219/219 [==============================] - 30s 138ms/step - loss: 0.1506 - accuracy: 0.9527
Epoch 5/20
219/219 [==============================] - 30s 139ms/step - loss: 0.1223 - accuracy: 0.9636
Epoch 6/20
219/219 [==============================] - 30s 138ms/step - loss: 0.0922 - accuracy: 0.9736
Epoch 7/20
219/219 [==============================] - 30s 138ms/step - loss: 0.0886 - accuracy: 0.9740
Epoch 8/20
219/219 [==============================] - 30s 138ms/step - loss: 0.0838 - accuracy: 0.9759
Epoch 9/20
219/219 [==============================] - 30s 139ms/step - loss: 0.0830 - accuracy: 0.9744
Epoch 10/20
219/219 [==============================] - 30s 139ms/step - loss: 0.0595 - accuracy: 0.9816
Epoch 11/20
219/219 [==============================] - 31s 141ms/step - loss: 0.0730 - accuracy: 0.9767
Epoch 12/20
219/219 [==============================] - 33s 152ms/step - loss: 0.0578 - accuracy: 0.9827
Epoch 13/20
219/219 [==============================] - 30s 139ms/step - loss: 0.0560 - accuracy: 0.9830
Epoch 14/20
219/219 [==============================] - 30s 138ms/step - loss: 0.0608 - accuracy: 0.9812
Epoch 15/20
219/219 [==============================] - 30s 139ms/step - loss: 0.0440 - accuracy: 0.9847
Epoch 16/20
219/219 [==============================] - 30s 139ms/step - loss: 0.0552 - accuracy: 0.9833
Epoch 17/20
219/219 [==============================] - 30s 139ms/step - loss: 0.0459 - accuracy: 0.9860
Epoch 18/20
219/219 [==============================] - 31s 140ms/step - loss: 0.0535 - accuracy: 0.9827
Epoch 19/20
219/219 [==============================] - 31s 139ms/step - loss: 0.0435 - accuracy: 0.9869
Epoch 20/20
219/219 [==============================] - 30s 139ms/step - loss: 0.0434 - accuracy: 0.9849

In [ ]:
model.evaluate(x_test , y_test)

55/55 [==============================] - 2s 32ms/step - loss: 0.1271 - accuracy: 0.9794

[0.12707965075969696, 0.9794403314590454]

In [ ]:
model.save('team_dead_mosaic_ps1_folder.h5')

In [4]:
def Predict_Ans(image):
    model2 = load_model('team_dead_mosaic_ps1_folder.h5')
    class_mapping='ABEGHIKLMNSWXZ1234567'
    images, x_cor, y_cor=get_segmented(image)
    answer=""
    for i in range(len(x_cor)):
        image1=images[y_cor[i][0]:y_cor[i][1], x_cor[i][0]:x_cor[i][1]]
        image1=cv2.copyMakeBorder(image1,40,40,40,40,cv2.BORDER_CONSTANT)
        image1 = cv2.resize(image1, (28, 28))
        image1 = (np.array(image1)).reshape(1 , 28 , 28 , 1)
        result = np.argmax(model2.predict(image1))
        answer+=(class_mapping[result])
        
    return answer

In [ ]:
np.unique(y)

array([ 0.,  1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9., 10., 11., 12.,
       13., 14., 15., 16., 17., 18., 19., 20.])

In [5]:
img = cv2.imread('img_tst.jpg')
Predict_Ans(img)

'B1HKWB'